<!--log in-->
<div class="nk-modal modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>

                <h4 class="mb-0"><span class="text-main-1">Sign</span> In</h4>

                <div class="nk-gap-1"></div>
                <form  name="form1" onsubmit="LOGinForm(); return false;" >
                    <div class="row vertical-gap">
                        <div class="col-md-12">
                            Use email and password:

                            <div class="nk-gap"></div>
                            <input type="email" value="" name="email" class=" form-control" placeholder="Email">

                            <div class="nk-gap"></div>
                            <input type="password" value="" name="password" class=" input--style-4required form-control" placeholder="Password">
                        </div>
                       
                    </div>

                    <div class="nk-gap-1"></div>
                    <div class="row vertical-gap">
                        <div class="col-md-12">
                            <button class="btn btn-link" type="submit " style="background-color: black; color: white; font-weight: bold;" >
                                登入
                             </button>
                            <!-- <a type="submit" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-block">Sign In</a> -->
                        </div>
                        <div class="col-md-12">

                            <div class="mnt-5">
                                <small><a href="/signup">Not a member? Sign up</a></small>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<script>
function LOGinForm(){
    $.post('/login', $(document.form1).serialize(), function(data){
        console.log(data);
        if(data.success){
            location.href = '/store';
        } else {
            alert('帳號或密碼錯誤');
        }
    }, 'json');
}

</script>

</body>

</html>