<%- include('../parts/html-head') %>
    <%- include('../parts/navbar') %>


        <div id="nk-nav-mobile"
            class="nk-navbar nk-navbar-side nk-navbar-right-side nk-navbar-overlay-content d-lg-none">
            <div class="nano">
                <div class="nano-content">
                    <a href="index.html" class="nk-nav-logo">
                        <img src="assets/images/logo.png" alt="" width="120">
                    </a>
                    <div class="nk-navbar-mobile-content">
                        <ul class="nk-nav">
                            <!-- Here will be inserted menu from [data-mobile-menu="#nk-nav-mobile"] -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Navbar Mobile -->



        <div class="nk-main">

            <!-- START: Breadcrumbs -->
            <div class="nk-gap-1"></div>
            <div class="container">
                <ul class="nk-breadcrumbs">


                    <li><a href="index.html">Home</a></li>


                    <li><span class="fa fa-angle-right"></span></li>

                    <li><a href="store.html">Store</a></li>


                    <li><span class="fa fa-angle-right"></span></li>

                    <li><a href="store-catalog.html">Action Games</a></li>


                    <li><span class="fa fa-angle-right"></span></li>

                    <li><span>STREET FIGHTER V  </span></li>

                </ul>
            </div>
            <div class="nk-gap-1"></div>
            <!-- END: Breadcrumbs -->




            <div class="container">
                <div class="row vertical-gap" style="background-color: black; margin-top: 20px;">
                    <div class="col-lg-8">
                        <div class="nk-store-product" style="text-align: center;">
                            <div class="row vertical-gap" >
                                <div class="col-md-12">
                                    <!-- START: Product Photos -->
                                    <div class="nk-popup-gallery">
                                       
                                                <!-- <img src="assets/images/product-6-lg.jpg" alt=""> -->
                                                <video autoplay muted loop controls class="video-hero">
                                                    <source src="assets/images/hero-4.mp4" type="video/mp4">
                                                </video>
                                                <div class="nk-carousel nk-carousel-x4" data-autoplay="5000" data-dots="false" data-cell-align="left" data-arrows="true">
                                                    <div class="nk-carousel-inner">
                                                    
                   
                                                        <div><div class="pl-5 pr-5">
                                                            <div class="nk-gallery-item-box">
                                                                <div class="nk-gallery-item-box">
                                                                    <a href="assets/images/product-7-hero4.jpg" class="nk-gallery-item" data-size="1024x576">
                                                                        <div class="nk-gallery-item-overlay"><span class="ion-eye"></span></div>
                                                                        <img src="assets/images/product-7-hero4.jpg" alt="" style="height: 100px; ">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div></div>
                                                        
                                                        <div><div class="pl-5 pr-5">
                                                            <div class="nk-gallery-item-box">
                                                                <div class="nk-gallery-item-box">
                                                                    <a href="assets/images/product-8-hero4.jpg" class="nk-gallery-item" data-size="1024x576">
                                                                        <div class="nk-gallery-item-overlay"><span class="ion-eye"></span></div>
                                                                        <img src="assets/images/product-8-hero4.jpg" alt="" style="height: 100px; ">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div></div>
                                                        <div><div class="pl-5 pr-5">
                                                            <div class="nk-gallery-item-box">
                                                                <div class="nk-gallery-item-box">
                                                                    <a href="assets/images/product-9-hero4.jpg" class="nk-gallery-item" data-size="1280x817">
                                                                        <div class="nk-gallery-item-overlay"><span class="ion-eye"></span></div>
                                                                        <img src="assets/images/product-9-hero4.jpg" alt="" style="height: 100px; ">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div></div>
                                                        
                                                        <div><div class="pl-5 pr-5">
                                                            <div class="nk-gallery-item-box">
                                                                <div class="nk-gallery-item-box">
                                                                    <a href="assets/images/product-10-hero4.jpg" class="nk-gallery-item" data-size="1280x817">
                                                                        <div class="nk-gallery-item-overlay"><span class="ion-eye"></span></div>
                                                                        <img src="assets/images/product-10-hero4.jpg" alt="" style="height: 100px; ">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div></div>
                                                      
                                                        <div><div class="pl-5 pr-5">
                                                            <div class="nk-gallery-item-box">
                                                                <div class="nk-gallery-item-box">
                                                                    <a href="assets/images/product-11-hero4.jpg" class="nk-gallery-item" data-size="1920x1080">
                                                                        <div class="nk-gallery-item-overlay"><span class="ion-eye"></span></div>
                                                                        <img src="assets/images/product-11-hero4.jpg" alt="" style="height: 100px; ">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div></div>
                                                      
                                                        <div><div class="pl-5 pr-5">
                                                            <div class="nk-gallery-item-box">
                                                                <div class="nk-gallery-item-box">
                                                                    <a href="assets/images/product-10-hero4.jpg" class="nk-gallery-item" data-size="1280x817">
                                                                        <div class="nk-gallery-item-overlay"><span class="ion-eye"></span></div>
                                                                        <img src="assets/images/product-10-hero4.jpg" alt="" style="height: 100px; ">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div></div>
                                                        
                                                    </div>
                                                </div>
                                    



                                    
                                    </div>
                                    <!-- END: Product Photos -->
                                </div>
                
                            </div>



                        </div>

                        <!-- START: Related Products -->
        
                  
                        <!-- END: Related Products -->
                    </div>
                    <div class="col-lg-4">
                        <!--
                START: Sidebar

                Additional Classes:
                    .nk-sidebar-left
                    .nk-sidebar-right
                    .nk-sidebar-sticky
            -->
                        <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">
                            <div class="nk-widget">
                                <div class="nk-widget-content">

                                </div>
                            </div>

                            <div class="col-md-12" >

                                <h2 class="nk-product-title h3">終極狩獵！</h2>
        
                                <br>
        
                                <div class="nk-product-description" style="color:  white;">
                                    <p>
                                        <br>
                                        <br>
                                        《異形：戰術小隊》以經典的《異形》宇宙為遊戲背景，是一款多人合作的第三人稱生存射擊遊戲。千錘百鍊的戰術小隊將投身希望渺茫的戰鬥，對抗持續進化的異形威脅。
                                        <br>
                                        <br>
                                        你將和其他兩名玩家或 AI 隊友，共同面對持續來襲的可怕異形以及韋蘭—尤坦尼公司的仿生人部隊。隨著戰術小隊奮力在四個獨特的作戰行動中推進，你將親身體會《異形》宇宙的全新故事情節。創造並自訂專屬的殖民地特戰隊員，從多樣的兵種、武器、裝備和特長中做選擇，在這令人心驚膽戰的生存射擊遊戲中，力抗困難重重的戰役。</p>
                                </div>
        
                                <!-- START: Add to Cart -->
                                <div class="nk-gap-2"></div>
                                <form action="#" class="nk-product-addtocart">
                                    <div class="nk-product-price">$1190</div>
                                    <div class="nk-gap-1"></div>
                                    <div class="input-group">
                                        <button class="nk-btn nk-btn-rounded nk-btn-color-main-1 addToCartBtn " data-sid="29">Add to Cart</button>
                                    </div>
                                </form>
                                <div class="nk-gap-3"></div>
                                <!-- END: Add to Cart -->
        
                                <!-- START: Meta -->
    
                                <!-- END: Meta -->
                            </div>


                        </aside>
                        <!-- END: Sidebar -->
                    </div>


                </div>
            </div>
            <div class="nk-gap-2"></div>


        <!-- START: Page Background -->

        <img class="hero-background" src="assets/images/hero4-b.jpg" alt="">
        <!-- <img class="nk-page-background-bottom" src="assets/images/alien.jpg" alt=""> -->
        <!-- <img class="nk-page-background-bottom" src="assets/images/bg-bottom.png" alt=""> -->

            <!-- END: Page Background -->
            <%- include('../parts/scripts') %>
            <script>
                const cartBtns = $('.addToCartBtn');
                let qty = 0;
                cartBtns.on('click', function(){
                    const me = $(this);
                    const pk = me.attr('data-sid');
                    qty += 1;
            
                    $.post('/cart/add',{pk:pk, qty:qty}, function(data){     // 發送post 要求給後端
                        console.log(data)
                        renewCartCount();
                    }, 'json');
            
                    // $('.num').text(qty)
            
                });
                    
            </script>
                <%- include('../parts/html-foot') %>