<%- include('../parts/html-head') %>
    <%- include('../parts/navbar') %>


        <div id="nk-nav-mobile"
            class="nk-navbar nk-navbar-side nk-navbar-right-side nk-navbar-overlay-content d-lg-none">
            <div class="nano">
                <div class="nano-content">
                    <a href="index.html" class="nk-nav-logo">
                        <img src="assets/images/logo.png" alt="" width="120">
                    </a>
                    <div class="nk-navbar-mobile-content">
                        <ul class="nk-nav">
                            <!-- Here will be inserted menu from [data-mobile-menu="#nk-nav-mobile"] -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Navbar Mobile -->



        <div class="nk-main">

            <!-- START: Breadcrumbs -->
            <div class="nk-gap-1"></div>
            <div class="container">
                <ul class="nk-breadcrumbs">


                    <li><a href="/">Home</a></li>


                    <li><span class="fa fa-angle-right"></span></li>

                    <li><a href="/store">Store</a></li>

                    <li><span class="fa fa-angle-right"></span></li>

                    <li><span>Greak: Memories of Azur (簡體中文, 英文, 日文) </span></li>

                </ul>
            </div>
            <div class="nk-gap-1"></div>
            <!-- END: Breadcrumbs -->




            <div class="container">
                <div class="row vertical-gap" style="background-color: black; margin-top: 20px;">
                    <div class="col-lg-8">
                        <div class="nk-store-product" style="text-align: center;">
                            <div class="row vertical-gap" >
                                <div class="col-md-12">
                                    <!-- START: Product Photos -->
                                    <div class="nk-popup-gallery">
                                       
                                                <!-- <img src="assets/images/product-6-lg.jpg" alt=""> -->
                                                <video autoplay muted loop controls class="video-hero">
                                                    <source src="assets/images/top10/PK030005.mp4" type="video/mp4">
                                                </video>
                                                <div class="nk-carousel nk-carousel-x4" data-autoplay="5000" data-dots="false" data-cell-align="left" data-arrows="true">
                                                    <div class="nk-carousel-inner">
                                                    
                   
                                                        <div><div class="pl-5 pr-5">
                                                            <div class="nk-gallery-item-box">
                                                                <div class="nk-gallery-item-box">
                                                                    <a href="assets/images/top10/PK030005-1.jpg" class="nk-gallery-item" data-size="1024x576">
                                                                        <div class="nk-gallery-item-overlay"><span class="ion-eye"></span></div>
                                                                        <img src="assets/images/top10/PK030005-1.jpg" alt="" style="height: 100px; ">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div></div>
                                                        
                                                        <div><div class="pl-5 pr-5">
                                                            <div class="nk-gallery-item-box">
                                                                <div class="nk-gallery-item-box">
                                                                    <a href="assets/images/top10/PK030005-2.jpg" class="nk-gallery-item" data-size="1024x576">
                                                                        <div class="nk-gallery-item-overlay"><span class="ion-eye"></span></div>
                                                                        <img src="assets/images/top10/PK030005-2.jpg" alt="" style="height: 100px; ">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div></div>
                                                        <div><div class="pl-5 pr-5">
                                                            <div class="nk-gallery-item-box">
                                                                <div class="nk-gallery-item-box">
                                                                    <a href="assets/images/top10/PK030005-3.jpg" class="nk-gallery-item" data-size="1280x817">
                                                                        <div class="nk-gallery-item-overlay"><span class="ion-eye"></span></div>
                                                                        <img src="assets/images/top10/PK030005-3.jpg" alt="" style="height: 100px; ">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div></div>
                                                        
                                                        <div><div class="pl-5 pr-5">
                                                            <div class="nk-gallery-item-box">
                                                                <div class="nk-gallery-item-box">
                                                                    <a href="assets/images/top10/PK030005-4.jpg" class="nk-gallery-item" data-size="1280x817">
                                                                        <div class="nk-gallery-item-overlay"><span class="ion-eye"></span></div>
                                                                        <img src="assets/images/top10/PK030005-4.jpg" alt="" style="height: 100px; ">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div></div>
                                                      
                                                        <div><div class="pl-5 pr-5">
                                                            <div class="nk-gallery-item-box">
                                                                <div class="nk-gallery-item-box">
                                                                    <a href="assets/images/top10/PK030005-5.jpg" class="nk-gallery-item" data-size="1920x1080">
                                                                        <div class="nk-gallery-item-overlay"><span class="ion-eye"></span></div>
                                                                        <img src="assets/images/top10/PK030005-5.jpg" alt="" style="height: 100px; ">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div></div>
                                                      
                                                        <div><div class="pl-5 pr-5">
                                                            <div class="nk-gallery-item-box">
                                                                <div class="nk-gallery-item-box">
                                                                    <a href="assets/images/top10/PK030005-1.jpg" class="nk-gallery-item" data-size="1280x817">
                                                                        <div class="nk-gallery-item-overlay"><span class="ion-eye"></span></div>
                                                                        <img src="assets/images/top10/PK030005-1.jpg" alt="" style="height: 100px; ">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div></div>
                                                        
                                                    </div>
                                                </div>
                                    



                                    
                                    </div>
                                    <!-- END: Product Photos -->
                                </div>
                
                            </div>



                        </div>

                        <!-- START: Related Products -->
        
                  
                        <!-- END: Related Products -->
                    </div>
                    <div class="col-lg-4">
                        <!--
                START: Sidebar

                Additional Classes:
                    .nk-sidebar-left
                    .nk-sidebar-right
                    .nk-sidebar-sticky
            -->
                        <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">
                            <div class="nk-widget">
                                <div class="nk-widget-content">

                                </div>
                            </div>

                            <div class="col-md-12" >

                                <h2 class="nk-product-title h3">手繪動畫風</h2>
        
                                <br>
        
                                <div class="nk-product-description" style="color:  white;">
                                    <p>
                                        <br>
                                        <br>
                                        Greak 是遊戲的主角，也是三兄妹中年紀最小的弟弟。他出身於一個名為 Courine 的魔法種族，這個種族目前正遭遇一支名為 Urlag 的敵方勢力侵略。 
                                        <br>
                                        <br>
                                        這起戰事持續了很久，Courine 族人逐漸開始逃離故土。Greak 的目標是與他的哥哥 (Raydel) 和姐姐 (Adara) 重逢，然後一步步打造出一艘飛船，逃離 Azur 大地。</p>
                                </div>
        
                                <!-- START: Add to Cart -->
                                <div class="nk-gap-2"></div>
                                <form action="#" class="nk-product-addtocart">
                                    <div class="nk-product-price">$590</div>
                                    <div class="nk-gap-1"></div>
                                    <div class="input-group">
                                        <button class="nk-btn nk-btn-rounded nk-btn-color-main-1 addToCartBtn " data-sid="30">Add to Cart</button>
                                    </div>
                                </form>
                                <div class="nk-gap-3"></div>
                                <!-- END: Add to Cart -->
        
                                <!-- START: Meta -->
    
                                <!-- END: Meta -->
                            </div>


                        </aside>
                        <!-- END: Sidebar -->
                    </div>


                </div>
            </div>
            <div class="nk-gap-2"></div>


        <!-- START: Page Background -->

        <img class="hero-background" src="assets/images/top10/PK030005-b.jpg" alt="">
        <!-- <img class="nk-page-background-bottom" src="assets/images/alien.jpg" alt=""> -->
        <!-- <img class="nk-page-background-bottom" src="assets/images/bg-bottom.png" alt=""> -->

            <!-- END: Page Background -->
            <%- include('../parts/scripts') %>
            <script>
                const cartBtns = $('.addToCartBtn');
                let qty = 0;
                cartBtns.on('click', function(){
                    const me = $(this);
                    const pk = me.attr('data-sid');
                    qty += 1;
            
                    $.post('/cart/add',{pk:pk, qty:qty}, function(data){     // 發送post 要求給後端
                        console.log(data)
                        renewCartCount();
                    }, 'json');
            
                    // $('.num').text(qty)
            
                });
                    
            </script>
                <%- include('../parts/html-foot') %>